{%- set section = get_section(path="footer/_index.md") %}
{%- set logoPath = section.extra.logoPath %}

<div class="border-t border-gray-200"></div>
<footer>
    <div class="mx-auto pt-4 pb-2 text-center">
      <div class="mt-2 mb-4 flex justify-center space-x-10">
        <a href="https://www.linkedin.com/company/ourworld-ventures/" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">LinkedIn</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M20.447 20.452H17.21v-5.414c0-1.291-.024-2.955-1.8-2.955-1.803 0-2.079 1.405-2.079 2.86v5.509H9.096V9.467h3.103v1.503h.043c.431-.818 1.48-1.68 3.046-1.68 3.257 0 3.86 2.144 3.86 4.931v6.231zM6.281 8.186c-1.035 0-1.875-.84-1.875-1.875s.84-1.875 1.875-1.875 1.875.84 1.875 1.875-1.84 1.875-1.875 1.875zM7.923 20.452H4.639V9.467h3.284v10.985zM22.225 0H1.771C.792 0 0 .785 0 1.753v20.495C0 23.215.792 24 1.771 24h20.451C23.207 24 24 23.215 24 22.248V1.753C24 .785 23.207 0 22.225 0z" clip-rule="evenodd"/>
          </svg>
        </a>
        <a href="mailto:info@ourworld.tf" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Mail</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M1.5 4.5h21v15h-21v-15zm21-1.5h-21C.672 3 0 3.672 0 4.5v15c0 .828.672 1.5 1.5 1.5h21c.828 0 1.5-.672 1.5-1.5v-15c0-.828-.672-1.5-1.5-1.5zM3 6.928l7.928 5.54a1.5 1.5 0 001.744 0L21 6.928V6H3v.928zm18 1.557l-6.86 4.794a3.5 3.5 0 01-4.28 0L3 8.485v9.015h18V8.485z" clip-rule="evenodd"/>
          </svg>
        </a>        
      </div>
      <p data-v-14efe4a7="" class="text-base leading-6 text-gray-400 mb-4">
        © 2024 OurWorld Holdings, All rights reserved.
        <a target="_blank" href="https://library.threefold.me/info/legal/#/legal__terms_conditions_websites" class="leading-6 text-gray-500 hover:text-gray-900">Terms &amp; Conditions |
        </a><a target="_blank" href="https://library.threefold.me/info/legal/#/legal__privacypolicy" class="leading-6 text-gray-500 hover:text-gray-900">Privacy Policy 
        </a>
      </p>
    </div>
</footer>
