<div class="bg-white lg:py-6 py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-4">
            <div class="relative overflow-hidden rounded-xl px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
              <img class="absolute inset-0 h-full w-full object-cover brightness-100 rounded-3xl" src="/images/people2.png" alt="">
            </div>
          </div>          
        <div>
          <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">PEOPLE</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet the Team</h1>
            <div class="max-w-xl">
              <p class="text-lg font-normal mt-6">At OurWorld, our people are our greatest asset. We are a diverse and dedicated team committed to innovation, collaboration, and making a positive impact in the digital world.</p>
              <p class="text-base font-light mt-8">From engineers to strategists, our team works tirelessly to build a future where everyone has access to secure digital resources. We believe in the power of community to achieve our shared goals of creating and supporting ventures that drive positive change for a better world.</p>
            </div>
            <div class="mt-8 flex items-center gap-x-6">
                <a href="/people" class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Our People</a>
            </div>
          </div>
        </div>
    </div>
</div>