<div class="">
  <div aria-hidden="true" class="relative">
    <img src="/images/venture.jpg" alt="" class="h-96 w-full object-cover object-center">
    <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
  </div>

  <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-24 sm:px-6 sm:pb-24 lg:px-8">
    <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
      <h2 class="lg:text-5xl font-bold tracking-tight text-gray-900 text-3xl">OurWorld Ventures</h2>
      <p class="mt-4 text-gray-500">These are the first OurWorld Ventures, connected by a strong set of values and the aim to bring forward a new era of digital sovereignty and empowerment.</p>
    </div>

    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">ThreeFold</dt>
        <dd class="mt-2 tracking-tight text-gray-500">ThreeFold is a scalable bare metal infrastructure layer for AI, Internet, and Cloud – presenting a cloud solution that offers unmatched security, reliability, performance, and sovereignty. Leveraging open source technology as developed by TF9.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">TF9</dt>
        <dd class="mt-2 tracking-tight text-gray-500">TF9 is a software company which has developed a cloud computing system designed for global scalability, offering secure, immutable data storage that ensures integrity and permanence.​</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">OurWorld Digital FreeZone</dt>
        <dd class="mt-2 tracking-tight text-gray-500">A collaboration with the Government of Zanzibar. 100% digital and automated, offering seamless legal, financial, and operational support for businesses. The FreeZone provides regulatory incentives and benefits to businesses through a fully online platform​.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">Zanzibar Cyber City</dt>
        <dd class="mt-2 tracking-tight text-gray-500">A visionary startup city featuring 3,000 units in its initial stages. The cyber city aims to be a collaborative hub for innovation, bringing together startups, investors, and technologists in a state-of-the-art urban environment​.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">Sikana</dt>
        <dd class="mt-2 tracking-tight text-gray-500">Sikana is a global non-profit dedicated to democratizing knowledge through free educational video programs. The Sikana platform aims to empower people worldwide by making practical knowledge accessible to all.​</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">OurVerse</dt>
        <dd class="mt-2 tracking-tight text-gray-500">OurVerse is a metaverse platform offering tools for collaboration and digital world creation, enabling new ways for people to interact and engage virtually. With OurVerse, anyone can create entire virtual worlds from AI prompts. <i>Launching Q4 2024.</i></dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
          <dt class="font-semibold lg:text-2xl text-xl text-gray-900">Hero</dt>
          <dd class="mt-2 tracking-tight text-gray-500">Hero is a digital assistant designed to give individuals full control over their digital identity and assets. Focused on privacy and autonomy, Hero helps manage personal information, tasks, and interactions across decentralized platforms. <i>First version expected Q4 2024.</i></dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold lg:text-2xl text-xl text-gray-900">Habari</dt>
        <dd class="mt-2 tracking-tight text-gray-500">Habari is a joint venture that aims to revolutionize cloud infrastructure and drive business in Africa with a highly secure, scalable, and sovereign edge computing platform. <i>Expected Q4 2024.</i> </dd>
      </div>
    </dl>
  </div>
</div>
