<div class="">
  <div aria-hidden="true" class="relative">
    <img src="/images/venture.jpg" alt="" class="h-96 w-full object-cover object-center">
    <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
  </div>

  <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-24 sm:px-6 sm:pb-24 lg:px-8">
    <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
      <h2 class="lg:text-5xl font-bold tracking-tight text-gray-900 text-3xl">OurWorld Ventures</h2>
      <p class="mt-4 text-gray-500">These are the first OurWorld Ventures, connected by a strong set of values and a desire to bring forward a new era of digital sovereignty and empowerment.</p>
    </div>

    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">ThreeFold</dt>
        <dd class="mt-2 text-sm text-gray-500">ThreeFold is building the world’s largest peer-to-peer decentralized internet, providing a sustainable, secure, and scalable solution for global connectivity. Its technology focuses on minimizing environmental impact while empowering individuals with ownership of their data and digital resources.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">TF9</dt>
        <dd class="mt-2 text-sm text-gray-500">TF9 drives advanced decentralized internet and cloud solutions with a focus on sovereignty and scalability. As the technological backbone for several ventures, it powers secure, edge computing infrastructures that can adapt to both current Web2 and future Web3 applications​</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">Sikana</dt>
        <dd class="mt-2 text-sm text-gray-500">Sikana is a global non-profit dedicated to democratizing knowledge through free educational videos and guides. Covering diverse topics like health, DIY, and arts, Sikana aims to empower people worldwide by making practical knowledge accessible to all.​</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">OurWorld Digital FreeZone</dt>
        <dd class="mt-2 text-sm text-gray-500">This is the world's first fully digital free zone, offering seamless legal, financial, and operational support for businesses. Located in Zanzibar, it enables companies to easily manage both fiat and digital currencies while benefiting from simplified tax and compliance processes​.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">Zanzibar Cyber City</dt>
        <dd class="mt-2 text-sm text-gray-500">A visionary startup city featuring 3,000 units, Zanzibar Cyber City is set to attract over $600 million in investment. It aims to be a collaborative hub for innovation, bringing together startups, investors, and technologists in a state-of-the-art urban environment​.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">OurVerse</dt>
        <dd class="mt-2 text-sm text-gray-500">OurVerse is an emerging virtual platform blending decentralized technologies to create immersive digital environments. It offers tools for creativity, collaboration, and digital experiences, enabling new ways for people to interact and engage online​.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
          <dt class="font-semibold text-gray-900">Hero</dt>
          <dd class="mt-2 text-sm text-gray-500">Hero is an AI-powered assistant designed to give individuals full control over their digital identity and assets. Focused on privacy and autonomy, Hero helps manage personal information, tasks, and interactions across decentralized platforms.</dd>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <dt class="font-semibold text-gray-900">Habari</dt>
        <dd class="mt-2 text-sm text-gray-500">Launching in Q4 2024, Habari is a joint venture that aims to revolutionize cloud infrastructure in Africa with a highly secure, scalable edge computing platform. Its self-healing technology and compatibility with AI workloads provide unmatched efficiency and sovereignty for IT systems across the continent​</dd>
      </div>
    </dl>
  </div>
</div>
