<div class="relative isolate overflow-hidden bg-gray-900 py-16 lg:py-24">
  <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80&blend=111827&blend-mode=multiply&sat=-100&exp=15" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
  <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
    <div class="absolute -bottom-8 -left-96 -z-10 transform-gpu blur-3xl sm:-bottom-64 sm:-left-40 lg:-bottom-32 lg:left-8 xl:-left-10" aria-hidden="true">
      <div class="aspect-[1266/975] w-[79.125rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
      <h2 class="text-base font-semibold leading-8 text-indigo-400">MILESTONES</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Our Development Journey</p>
      <p class="mt-6 text-lg leading-8 text-gray-300">Transform the future – be part of a revolutionary journey towards a decentralized, autonomous digital world.</p>
    </div>
    <dl class="mx-auto mt-6 grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-10 text-white sm:mt-20 sm:gap-y-16 lg:mx-0 lg:max-w-none">
      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-base leading-6">✓ Threefold’s decentralized, autonomous edge computing technology serves as the backbone of the OurWorld ecosystem.</dt>
        <dt class="text-base leading-6">✓ OurWorld helped secure $50M in investment from our community of investors.</dt>
        <dd class="order-first text-1xl text-indigo-400 tracking-tight">Phase 1</dd>
        <dd class="order-first text-2xl font-semibold tracking-tight">Core Infrastructure</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-base leading-6">✓ Partnered with Government of Tanzania to establish OurWorld Digital Economic Zone (ODEZ) with financial and other incentives for ventures.</dt>
        <dt class="text-base leading-6">✓ Deployed a suite of integrated platforms within the ODEZ to onboard new ventures into the ecosystem.</dt>
        <dd class="order-first text-1xl text-indigo-400 tracking-tight">Phase 2</dd>
        <dd class="order-first text-2xl font-semibold tracking-tight">OurWorld Digital Economic Zone</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-base leading-6">✓ $30M raise underway to expand core infrastructure and invest in new ventures with a focus on interdependent projects that strengthen the DEZ collectively.</dt>
        <dt class="text-base leading-6">✓ Designing regulatory framework to facilitate digital assets exchanges and other decentralized financial platforms.</dt>
        <dd class="order-first text-1xl text-indigo-400 font-semibold tracking-tight">Current Phase</dd>
        <dd class="order-first text-2xl font-semibold tracking-tight">Launch of New Ventures</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/10 pl-6">
        <dt class="text-base leading-6">◯ Deploy 1 million nodes and onboard 10 million users to empower the Our World ecosystem.</dt>
        <dt class="text-base leading-6">◯ Transition startups in our venture creator to community ownerships and ensure a successful exits for investors.</dt>
        <dd class="order-first text-1xl text-indigo-400 tracking-tight">Phase 4</dd>
        <dd class="order-first text-2xl font-semibold tracking-tight">Scalable Impact.</dd>
      </div>
    </dl>
  </div>
</div>
