name: ourworld.tf
on:
  push:
    branches: [ master ]

jobs:
  job_one:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: pushing latest change on ourworld.tf
      uses: appleboy/ssh-action@master
      with:
        host: ourworld.tf
        username: webuser
        key: ${{ secrets.TF_SECRET }}
        port: 34022
        script: |
          cd websites/www_ourworld_tf/
          git log -1
          git fetch
          git reset --hard origin/development
          sed -i "s/https:\/\/www2.ourworld.tf/https:\/\/ourworld.tf/g" config.toml
          ./build.sh
